:root {
  --bg-color: #09090b;
  --border-color: hsl(240, 3.7%, 15.9%);
  --white-color: #fafafa;
  --gray: hsl(240 5% 64.9%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter";
}

body {
  background-color: var(--bg-color);
  height: 100vh;
}

nav {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid var(--border-color);
}

.select {
  width: 13%;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.select-profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.select-profile span {
  color: var(--white-color);
  font-weight: 700;
}
.select-profile [data-lucide=chevrons-up-down] {
  color: var(--white-color);
  width: 1rem;
  height: 1rem;
}

.select-profile:hover {
  background-color: var(--border-color);
}

.current-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profile-options {
  width: 100%;
  background-color: var(--bg-color);
  padding: 15px 0 10px 0;
  display: none;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  position: absolute;
  top: 50px;
}
.profile-options h3 {
  color: var(--gray);
  margin: 0 15px;
  font-weight: 600;
  font-size: 0.9rem;
}
.profile-options hr {
  width: 100%;
  color: var(--border-color);
}

.active {
  display: flex !important;
}

.profiles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile {
  color: var(--white-color);
  margin: 0 5px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
}
.profile img {
  width: 1rem;
  height: 1rem;
  display: none;
}

.selected-profile {
  background-color: var(--border-color);
  border-radius: 5px;
}
.selected-profile img {
  width: 1rem;
  height: 1rem;
  display: block;
}

.selected-profile-clicked {
  border: 1px solid var(--white-color);
}

.add-profile {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
}
.add-profile img {
  width: 1.3rem;
  height: 1.3rem;
  color: #fafafa;
}

.profile:hover, .add-profile:hover {
  background-color: var(--border-color);
  border-radius: 5px;
}

main {
  padding: 0 35px;
  margin-top: 25px;
}

h1 {
  color: var(--white-color);
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 25px 0;
}

.card {
  width: 25%;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--white-color);
  padding: 45px 25px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}
.card p {
  font-size: 1.8rem;
  font-weight: 800;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title h2 {
  font-size: 1.1rem;
  font-weight: 600;
}
.title .icon-card {
  color: var(--gray);
  width: 1.2rem;
  height: 1.2rem;
}

.main-cards {
  width: 100%;
  height: 58vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-register-new-value {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.card-register-new-value h2 {
  color: var(--white-color);
}
.card-register-new-value form {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.debt-infos {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  gap: 8px;
}
.debt-infos label {
  font-weight: 600;
}
.debt-infos input {
  background-color: transparent;
  padding: 10px;
  color: var(--white-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.debt-infos #debt-name:focus,
.debt-infos #debt-value:focus {
  border: 1px solid var(--white-color);
  outline: none;
}
.debt-infos #debt-name:placeholder-shown,
.debt-infos #debt-value:placeholder-shown {
  color: hsl(var(--gray));
  font-size: 0.9rem;
}
.debt-infos #debt-value {
  appearance: textfield;
}

#debt-name:disabled,
#debt-value:disabled,
#btn-register-new-debt:disabled,
.input-parcelas input:disabled,
.debt-radio-selection input[type=radio]:disabled,
input[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.debt-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--white-color);
}

.debt-radio-selection {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 60%;
  color: var(--white-color);
}
.debt-radio-selection input[type=radio] {
  appearance: none;
  border: 1px solid var(--white-color);
  padding: 1rem;
  border-radius: 50%;
  background-color: #09090b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.debt-radio-selection input[type=radio]::before {
  content: "";
  background-color: var(--white-color);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all 100ms ease-in-out;
}
.debt-radio-selection input[type=radio]:disabled::before {
  opacity: 0 !important;
}
.debt-radio-selection input[type=radio]:checked::before {
  opacity: 1;
}
.debt-radio-selection div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.debt-radio-selection:has(input[type=radio]:disabled) label {
  cursor: not-allowed;
}

.input-parcelas {
  width: 40%;
  display: none;
  flex-direction: column;
}
.input-parcelas input {
  appearance: textfield;
  background-color: transparent;
  color: var(--white-color);
  padding: 10px;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.input-parcelas:has(input:disabled) label {
  cursor: not-allowed;
}

input[type=submit] {
  background-color: var(--white-color);
  outline: none;
  padding: 10px 0;
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: rgba(250, 250, 250, 0.8823529412);
  cursor: pointer;
}

.alguma-coisa {
  width: 40%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

section {
  width: 40%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #09090B;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
section h2 {
  color: var(--white-color);
}
section [data-lucide=x] {
  color: var(--white-color);
  height: 32px;
  width: 32px;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
section [data-lucide=x]:hover {
  color: #e0e0e0;
}
section form {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  gap: 25px;
  width: 55%;
}
section form label {
  color: var(--white-color);
  font-size: 1.2rem;
}
section form input {
  height: 35px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  color: var(--white-color);
  padding-left: 10px;
}
section form input:focus {
  border: 1px solid var(--white-color);
}
section form input[type=submit] {
  padding: 8px 16px;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  border: none;
  color: #09090B;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
section form input[type=submit]:hover {
  background-color: #e0e0e0;
}
section form input[type=number] {
  appearance: textfield;
}

.register-dialog-active {
  display: flex;
}

.blur {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000000;
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
